body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 10px;
    padding-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #0999ac, #21be75);
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 98vh; 
    margin: 0;
    position: relative;
    z-index: 1;
}

.header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f7f7f7;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #fbff00;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px; 
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 0px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-container,
#massMailForm {
    flex: 1;
    max-width: 48%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 600px; 
    margin-top: -15px;
}


.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 0;
    border: 2px solid #000000;
    background-color: #d3c500;
    padding: 20px;
    border-radius: 10px;
    max-height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.card {
    flex: 1;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 100%;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 1px solid #000000;
    max-height: 500px;
    overflow-y: auto;
}

.card:hover {
    transform: scale(1.05);
}

#massMailForm {
    max-width: 48%;
    max-height: 600px;
    width: 100%;
    background-color: #4d4d4d;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -15px;
    overflow-y:visible; 
}



#massMailForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    height: 120px;
}

#massMailForm h2 {
    text-align: center;
    color: #00a2ff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: invert;
    border-color: #3498db;
}

.form-group label[for="csvFile"] {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #008ae6;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-group label[for="csvFile"]:hover {
    background-color: #0099ff;
}

.form-group input[type="file"] {
    display: none;
}

button {
    background-color:#008ae6;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0099ff;
}

.valid-card {
    color: #4caf50;
}

.invalid-card {
    color: #ff5722;
}

.footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #fbff00;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      align-items: center;
    }
  
    #massMailForm,
    .card-container {
      max-width: 100%;
      width: 100%;
      margin-bottom: 20px;
    }
}
  